/* Inserta tu codigo aqui */

header, footer {
	background-color: #1c1821;
}
li {
	list-style-type: none;
	float: left;
	font-family: "Open sans";
	font-style: italic;
	padding: 10px 5px;

}
nav ul {	
	float: right;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 25px;	
}
nav a {
	text-decoration: none;
	padding: 10px 5px;
	color: white;
}
.spring, .floral, .flatness, .text {
	background-color: #2d2735;
}
.img1{	
	background-image: url(../image/header-image.jpg);
	max-width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-size: cover;	
}

.spring_come, .about_me, .amanda{
	background-color: #1b1821;
}
.spring_come {	
	margin: 20px 160px;
	padding-top: 30px;
	padding-bottom: 50px;
	font-family:  "Courgette", serif;
	text-align: center;
}
.spring_come h1{
	color: #f6ba6d;
	font-size: 50px;
}
.spring_come ul{
	color: white;
	padding-left: 100px;
	font-size: 12px;
}
.floral1{
	text-align: center;
	line-height:25px;
	font-style: italic;	
}
 h5{
	color: #f6ba6d;
	font-family: "Courgette", serif;
	text-align: center;
}
p{
	color: white;
	font-family: "Open Sans";
	font-size: 12px;
	padding: 5px 5px 15px 5px;
	padding-left: 5px;
}
.flatness{
	padding-bottom: 25px;
}
.flowers, .watch, .floral1 {
	background-color: #1C1821;	
}
.flowers, .about_me{
	margin-top: 25px;
}
.flowers h5, h6{
	line-height:25px;
	
}
.flowers p{
	text-align: left;	
}
.img3, .img4{
	max-width: 100%;
	padding-bottom: 5px;
	background-size: cover;
}
h6{
	color: white;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	text-align: center;
}
.watch {
	max-width: 100%;
	background-size: cover;	
}
.about_me{
	padding: 15px;
	color: white;
	font-size: 12px;
 	text-align: center; 
 	margin-bottom: 10px;	
}
.text{
	padding: 5px 40px;
}
.amanda h6{
	font-weight: bold;
	font-family: Serif;
}
.img4{
	padding-top: 5px;
}
.fa{
	color: white; 
	font-size: 15px; 
	padding: 5px;
	padding-bottom: 15px;	
}
footer p{
	text-align: center;
	padding: 25px;
}




/* Responsive }*/

@media screen and (max-width : 920px) {

}

@media (max-width: 660px) {
	.container{
		width: 100%;
	}
	.spring_come{
		margin: 0;
	}
	.spring_come li{
		padding: 0;
	}

	.col-4{
		width:100%;
	}
	.col-8 {
    margin-left: 0;
	}
	.col-7, .col-5 {
		width: 100%;
}
